*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body{
  background: #ff7878;
}

.container{
display: flex;
flex-direction: column;
gap: 10px;
width: 95%;
margin: 15px auto;
}

.top{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0 auto;
}

.bottom{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0 auto;
}

.top1{
  width: 300px;
  background: linear-gradient(375deg, black, red);
  height: 250px;
  border-radius: 15px;
}
.top2{
  width: 300px;
  background: linear-gradient(375deg, black, red);
  border-radius: 15px;
  height: 250px;
}
.bottom1{
  width: 200px;
  background: linear-gradient(375deg, black, red);
  border-radius: 15px;
  height: 250px;
}
.bottom2{
  width: 200px;
  background: linear-gradient(375deg, black, red);
  border-radius: 15px;
  height: 250px;
}
.bottom3{
  width: 200px;
  background: linear-gradient(375deg, black, red);
  border-radius: 15px;
  height: 250px;
}


@media (max-width: 700px){
  .top{
    flex-direction: column;
  }
  .bottom{
    flex-direction: column;
  }
  .bottom1, .bottom2, .bottom3{
    width: 300px;
  }
}
@media (max-width: 500px){
  .top{
    flex-direction: column;
  }
  .bottom{
    flex-direction: column;
  }
  .bottom1, .bottom2, .bottom3{
    width: 300px;
  }
}