.heading2{
    color: brown;
}
#heading3{
    color: green;
    font-size: 100px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #18f482;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.container{
background-color: purple;
display: flex; 
justify-content: center;
align-items: center;
}